.container-1{
    border: 1px solid green;
    text-align: center;
    width: 60%;
    margin: auto;
}
.container-2{
    border: 1px solid green;
    text-align: center;
}
.container-2 button{
    
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container-3{
    border: 1px solid green;
    justify-content: space-around;
}

.container-3 img{
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 5px 10px 18px #888888;
}